html,body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+13,969696+84,6d6d6d+100 */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 13%, #969696 84%, #6d6d6d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(13%,#f7f7f7), color-stop(84%,#969696), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 13%,#969696 84%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 13%,#969696 84%,#6d6d6d 100%); /* W3C */
	height:100%;
	margin: 0px 0px;
	background-attachment: fixed;

}

.mainframe{
	background:transparent;	
	width:100%;

	position:absolute;
	overflow:hidden;
	margin:0 auto;	
	overflow-x:hidden;
}


.mainframesl{
	background:rgba(237,135,41,0) url(img/backx.svg);	
	width:100%;
	height:100%;
	position:fixed;
	overflow:auto;
	margin:0 auto;	
	overflow-x:hidden;
	animation: backgroundchange 15s ease-in-out 2s infinite alternate;
}

@keyframes backgroundchange {
	0%   {background-color:rgba(237,135,41,0)}
	50%  {background-color: rgba(237,135,41,0.08)}
	100% {background-color: rgba(237,135,41,0)}
}



.sidepanel{
	position:fixed;
	background:transparent;
	width:200px;
	height:991px;
	top:0px;
	left:0px;
	z-index:13;
	pointer-events:none;
}


.topstick{
	background:url(img/topstick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:32px;
	height:415px;
	left:32px;
	top:0px;
	display:none;

}

.bottomstick{
	background:url(img/bottomstick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:32px;
	height:2017px;
	left:72px;
	bottom:-1567px;
	display:none;
}

.bioplank{
	background:url(img/bioplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:175px;
	height:22px;
	left:0px;
	top:415px;
	display:none;
	cursor: pointer;
	pointer-events:auto !important;
	transition-timing-function:ease-in-out;;

}

.bioplank:hover{
	background:url(img/bioplank_w.svg) no-repeat;
}

.portfolioplank{
	background:url(img/portfolioplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:207px;
	height:22px;
	left:0px;
	top:450px;
	display:none;
	cursor: pointer;
	pointer-events:auto !important;
}

.portfolioplank:hover{
	background:url(img/portfolioplank_w.svg) no-repeat;
}

.resumeplank{
	background:url(img/resumeplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:164px;
	height:22px;
	left:0px;
	top:485px;
	display:none;
	cursor: pointer;
	pointer-events:auto !important;
}

.resumeplank:hover{
	background:url(img/resumeplank_w.svg) no-repeat;
}

.contactplank{
	background:url(img/contactplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:175px;
	height:22px;
	left:0px;
	top:520px;
	display:none;
	cursor: pointer;
	pointer-events:auto !important;
}


.contactplank:hover{
	background:url(img/contactplank_w.svg) no-repeat;
}


.toppanel{
	position:absolute;
	background:transparent;
	width:600px;
	height:300px;
	top:0px;
	left:312px;

	z-index:10;

}


.dplank{
	background:url(img/dplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	cursor: pointer;
	width:88px;
	height:229px;
	left:0px;
	top:0px;
	z-index:3;
	display:none;

}

.dplank:hover{
	background:url(img/dplank_w.svg) no-repeat;
}

.dplank_stick{
	background:url(img/dplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:23px;
	height:215px;
	left:0px;
	top:0px;
	z-index:2;
	display:none;
}


.designsplank{
	background:url(img/designsplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	cursor: pointer;
	width:128px;
	height:234px;
	left:220px;
	top:-30px;
	z-index:3;
	display:none;
}

.designsplank:hover{
	background:url(img/designsplank_w.svg) no-repeat;
}


.designsplank_stick{
	background:url(img/designsplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	z-index:2;
	width:12px;
	height:206px;
	left:100px;
	top:-15px;
	display:none;
}

.videoplank{
	background:url(img/videoplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:114px;
	z-index:3;
	cursor: pointer;
	height:221px;
	left:480px;
	top:-1px;
	display:none;
}


.videoplank:hover{
	background:url(img/videoplank_w.svg) no-repeat;
}



.videoplank_stick{
	background:url(img/videoplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:22px;
	height:205px;
	left:270px;
	top:0px;
	z-index:2;
	display:none;
}
.webplank{
	background:url(img/webplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:81px;
	cursor: pointer;
	height:229px;
	left:728px;
	top:-20px;
	z-index:3;
	display:none;
}

.webplank:hover{
	background:url(img/webplank_w.svg) no-repeat;
}


.webplank_stick{
	background:url(img/webplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:24px;
	height:219px;
	left:462px;
	top:0px;
	z-index:2;
	display:none;
}

.mainpanel{
	position:relative;
	width:100px;
	padding-right:40px;
	left:300px; 
	top:0px;
	padding-top:300px;
	display:none;
	z-index:8;


}

.screencontainer{
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	width:100%;
	height:100px;
	position:relative;


}

.mainscreen{
	width:100%;
	top:0px;
	left:0px;
	background: radial-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.1));
    
}






.topscreen{
	background:url(img/topscreen.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:111px;
	height:501px;
	top:-118px;
	left:0px;
	pointer-events:none;
	
}

.bottomscreen{
	background:url(img/bottomscreen.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:114px;
	height:91px;
	bottom:0px;
	right:0px;
	pointer-events:none;
	margin-bottom: 16px;
	
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	height:100%;

}

.tg td{
	background-size:100% 100%;
	background-repeat:no-repeat;
	font-family:Arial, sans-serif;font-size:14px;
	padding:0px 0px;
	border-style:none;
	border-width:0px;
	overflow:hidden;word-break:normal;
}

.tg th{

	font-family:Arial, sans-serif;
	font-size:14px;font-weight:normal;
	padding:0px 0px;
	border-style:none;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.tg .tg-yw4l{
	position:relative;
	vertical-align:top;
}



.ts  {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;


}

.ts td{
	background-size:100% 100%;
	background-repeat:no-repeat;
	font-family:Arial, sans-serif;font-size:14px;
	padding:0px 0px;
	border-style:none;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.ts th{

	font-family:Arial, sans-serif;
    text-align:left;
	font-size:14px;font-weight:normal;
	border-style:none;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.ts .ts-yw4l{
    overflow:hidden;
    vertical-align:top
}


/*Default none display values for all windows*/

.designs{
	display:none;
}

.web{
	display:none;
}

.dworks{
	display:none;
}
.worksrules{
	height:340px;
}
.worksrulesvideo{
	height:170px;
}

.video{
	display:none;
}

.biorules {
	font-family:sans-serif;
	font-size:11px;
	color:black;
	font-weight:bold;
	text-align:justify;
	padding:15px;
	height:290px;

}

.resume
{
	display:none;

}

.irbispanel{
	display:none;
}

.resumerules{
	font-family:sans-serif;
	font-size:11px;
	color:black;
	height:725px;
	font-weight:bold;
	text-align:justify;
	padding:35px;
	padding-right:55px;
}

.contact{
        background: radial-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.1));
	display:none;
	font-family:sans-serif;
	font-size:13px;
	color:black;
	font-weight:bold;
	text-align:justify;

	width:98%;
	padding-left:10px;

}

.contact a:link { color: #000000; text-decoration: none; background:transparent; }
.contact a:visited { color: #000000;  text-decoration: none; background:transparent;}
.contact a:hover { color: #ffffff;  text-decoration: none; background:black;}
.contact a:active { color: #000000;  text-decoration: none; background:transparent;}



.contactrules{
	width:300px;
	padding:5px;

}


.contactext{
	line-height: 2;
	margin-left: 15px;


}

.portfolio{
	display:none;
}

.thumbimg{
	width:200px;
	height:170px;
	display:block;
	position:absolute;
	opacity:0;
	transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
}

.thumbimg:hover{
	opacity:1;
}

.captiontext{
	background:black;
	margin-top:35%;
	text-transform: uppercase;
	text-align: right;
	font-family: sans-serif;
	font-size: 12px;
	color: #e7e7e7;
	font-weight: bold;
	right:0px;
	width: 150px;
	display: block;
	padding-right:10px;
	position: absolute; 
	word-break: keep-all;

}

.dframe{
	
	display:none;
	height:auto !important;
	width:auto !important;

}

.previewing{

	padding-bottom:10px;
	padding-top:0px;
	margin-bottom:0px;
	border-width: 0px;
    display:none;
	border-style:none;
    text-align:right;
	transition: all .2s ease-in-out;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s; 
	animation: fadein 2s;

}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}


.previewing:hover{ 
	transform: scale(1.02);
}


.comment{
	
	font-family: sans-serif;
	font-size: 11px;
	color: black;
	font-weight: bold;
	width: 160px;
	text-align: left;
	padding-right: 20px;
	margin-left: 20px;
}

.blinklight{
	background:white;
	position:absolute;
	width:3px;
	height:3px;
	top:16px;
	right:69px;
	border-radius: 3px;
	pointer-events:none;
	-webkit-animation: lightbeacon 3s infinite;
	-moz-animation: lightbeacon 3s infinite;
	animation: lightbeacon 3s infinite;

}

@keyframes lightbeacon {
	0% { opacity: 0; }
	25% { opacity: 0; }
	26% { opacity: 1; }
	75%   { opacity: 1; }
	76%   { opacity: 0; }
	100%   { opacity: 0; }

}

@-moz-keyframes lightbeacon {
	0% { opacity: 0; }
	25% { opacity: 0; }
	26% { opacity: 1; }
	75%   { opacity: 1; }
	76%   { opacity: 0; }
	100%   { opacity: 0; }
}

@-webkit-keyframes lightbeacon {
	0% { opacity: 0; }
	25% { opacity: 0; }
	26% { opacity: 1; }
	75%   { opacity: 1; }
	76%   { opacity: 0; }
	100%   { opacity: 0; }
}

@-ms-keyframes lightbeacon {
	0% { opacity: 0; }
	25% { opacity: 0; }
	26% { opacity: 1; }
	75%   { opacity: 1; }
	76%   { opacity: 0; }
	100%   { opacity: 0; }
}

@-o-keyframes lightbeacon {
	0% { opacity: 0; }
	25% { opacity: 0; }
	26% { opacity: 1; }
	75%   { opacity: 1; }
	76%   { opacity: 0; }
	100%   { opacity: 0; }
}



.iconic{
	
	width: 150px;
	text-align: justify;
	padding-right: 20px;
	margin-left: 20px;
}

.smallicon{
	padding-left:2px;
	padding-right:2px;
}

.protectiveshield{
	width:100%;
	height:100%;
	position:fixed;
	z-index:2015 !important;

}

.backtotopplank{
	background:url(img/backtotop.svg) no-repeat;
	background-size:100% 100%;
	position:fixed;
	-webkit-backface-visibility: hidden;
	width:153px;
	height:56px;
<<<<<<< HEAD
	left:950px;
=======
	left:1000px;
>>>>>>> origin/master
	top:0px;
	cursor: pointer;
    display:none;
}

.backtotopplank:hover{
	background:url(img/backtotop_w.svg) no-repeat;
}


.logopanelclass{
	background:url(img/logopanel.svg) no-repeat;
	background-size:100% 100%;
	position:relative;
	width:323px;
	height:220px;
	top:0px;
	left:0px;

	margin-bottom:-180px;

}


.logoclass{
	background:url(img/logo.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:116px;
	height:153px;
	bottom:19px;
	right:67px;
	cursor:pointer;
	box-shadow:none;


	-webkit-animation: blinkers .4s infinite;
	-moz-animation: blinkers .4s infinite;
	animation: blinkers .4s infinite;

}

@keyframes blinkers {
	0% { opacity: 0.65; box-shadow:0 0 15px #FFFAF3;}
	1% { opacity: 0.9; box-shadow: 0 0 20px #FFFAF3;  }
	10%   { opacity: 0.9; box-shadow:  0 0 20px #FFFAF3;}
	20%   { opacity: 0.9; box-shadow:  0 0 20px #FFFAF3;}
	30%   { opacity: 0.9; box-shadow:  0 0 20px #FFFAF3;}
	40%   { opacity: 0.9; box-shadow:  0 0 20px #FFFAF3;}
	41%   { opacity: 0.65;  box-shadow:none;}
	42%   { opacity: 0.9; box-shadow:  0 0 20px #FFFAF3;}
	70%   { opacity: 0.9; box-shadow:  0 0 20px #FFFAF3;}
	71%   { opacity: 0.75;  box-shadow:none;}
	72%   { opacity: 0.9; box-shadow: 0 0 20px #FFFAF3;}
	100%   { opacity: 0.9; box-shadow:  0 0 20px #FFFAF3;}

}


.pdf{
	background:url(img/pdf.svg) no-repeat;
	background-size:90% 100%;
	position:absolute;
	width:37px;
	height:58px;
	right:70px;
	bottom:37px;
	cursor: pointer;

}

.pdf:hover{
	background:url(img/pdf_w.svg) no-repeat;
	background-size:90% 100%;

}

.clickcounter{
    height:5px;
    width:35px;
    font-family: 'Aldrich', sans-serif;
    margin-left:183px;
    padding-top:3px;
    color:rgba(255,255,255,0.5);
    font-size:7pt;
}
