html,body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+13,969696+84,6d6d6d+100 */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 13%, #969696 84%, #6d6d6d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(13%,#f7f7f7), color-stop(84%,#969696), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 13%,#969696 84%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 13%,#969696 84%,#6d6d6d 100%); /* W3C */
	height:100%;
	margin: 0px 0px;
	background-attachment: fixed;

}

.mainframe{
	background:rgba(237,135,41,0) url(img/backx.svg);	
	width:100%;
	position:absolute;
	overflow:scroll;
	margin:0 auto;
	height:100%;
	overflow-x:hidden;
	animation: backgroundchange 15s ease-in-out 2s infinite alternate;
}

@keyframes backgroundchange {
	0%   {background-color:rgba(237,135,41,0)}
	50%  {background-color: rgba(237,135,41,0.08)}
	100% {background-color: rgba(237,135,41,0)}
}

.sidepanel{
	position:fixed;
	background:transparent;
	width:200px;
	height:991px;
	top:0px;
	left:0px;
	z-index:13;
}


.topstick{
	background:url(img/topstick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:32px;
	height:415px;
	left:32px;
	top:0px;
	display:none;

}

.bottomstick{
	background:url(img/bottomstick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:32px;
	height:449px;
	left:72px;
	bottom:0px;
	display:none;
}

.bioplank{
	background:url(img/bioplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:175px;
	height:22px;
	left:0px;
	top:415px;
	display:none;
	cursor: pointer;

	transition-timing-function:ease-in-out;;

}

.bioplank:hover{
	background:url(img/bioplank_w.svg) no-repeat;
}

.portfolioplank{
	background:url(img/portfolioplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:207px;
	height:22px;
	left:0px;
	top:450px;
	display:none;
	cursor: pointer;
}

.portfolioplank:hover{
	background:url(img/portfolioplank_w.svg) no-repeat;
}

.resumeplank{
	background:url(img/resumeplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:164px;
	height:22px;
	left:0px;
	top:485px;
	display:none;
	cursor: pointer;
}

.resumeplank:hover{
	background:url(img/resumeplank_w.svg) no-repeat;
}

.contactplank{
	background:url(img/contactplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:175px;
	height:22px;
	left:0px;
	top:520px;
	display:none;
	cursor: pointer;
}


.contactplank:hover{
	background:url(img/contactplank_w.svg) no-repeat;
}


.toppanel{
	position:absolute;
	background:transparent;
	width:600px;
	height:100px;
	top:0px;
	left:350px;
	display:none;
	z-index:10;
}


.dplank{
	background:url(img/dplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	cursor: pointer;
	width:65px;
	height:35px;
	left:0px;
	top:20px;
	z-index:3;
}

.dplank:hover{
	background:url(img/dplank_w.svg) no-repeat;
}

.dplank_stick{
	background:url(img/dplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:23px;
	height:35px;
	left:0px;
	top:0px;
	z-index:2;
}


.designsplank{
	background:url(img/designsplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	cursor: pointer;
	width:128px;
	height:28px;
	left:100px;
	top:20px;
	z-index:3;
}

.designsplank:hover{
	background:url(img/designsplank_w.svg) no-repeat;
}


.designsplank_stick{
	background:url(img/designsplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	z-index:2;
	width:11px;
	height:22px;
	left:100px;
	top:0px;
}

.videoplank{
	background:url(img/videoplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:96px;
	z-index:3;
	cursor: pointer;
	height:30px;
	left:280px;
	top:21px;
}


.videoplank:hover{
	background:url(img/videoplank_w.svg) no-repeat;
}



.videoplank_stick{
	background:url(img/videoplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:22px;
	height:25px;
	left:270px;
	top:0px;
	z-index:2;
}
.webplank{
	background:url(img/webplank.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:62px;
	cursor: pointer;
	height:32px;
	left:410px;
	top:18px;
	z-index:3;
}

.webplank:hover{
	background:url(img/webplank_w.svg) no-repeat;
}



.webplank_stick{
	background:url(img/webplank_stick.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:24px;
	height:39px;
	left:462px;
	top:0px;
	z-index:2;
}

.mainpanel{
	position:relative;
	width:100px;
	padding-right:20px;
	left:250px; 
	top:0px;
	padding-top:300px;
	display:none;
	z-index:8;
}

.screencontainer{
	padding-left:10px;
	padding-right:20px;
	padding-bottom:10px;
	width:100%;
	height:100px;
	position:relative;
}

.mainscreen{
	width:100%;
	top:0px;
	left:0px;
	background: radial-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.1));
}

.topscreen{
	background:url(img/topscreen.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:101px;
	height:501px;
	top:-118px;
	left:0px;
	pointer-events:none;
	
}

.bottomscreen{
	background:url(img/bottomscreen.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:103px;
	height:31px;
	bottom:0px;
	right:0px;
	pointer-events:none;
	padding-bottom: 90px;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	height:100%;

}

.tg td{
	background-size:100% 100%;
	background-repeat:no-repeat;
	font-family:Arial, sans-serif;font-size:14px;
	padding:0px 0px;
	border-style:none;
	border-width:0px;
	overflow:hidden;word-break:normal;
}

.tg th{

	font-family:Arial, sans-serif;
	font-size:14px;font-weight:normal;
	padding:0px 0px;
	border-style:none;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.tg .tg-yw4l{
	position:relative;
	vertical-align:top;
}



.ts  {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	

}

.ts td{
	background-size:100% 100%;
	background-repeat:no-repeat;
	font-family:Arial, sans-serif;font-size:14px;
	padding:0px 0px;
	border-style:none;
	border-width:0px;
	overflow:hidden;word-break:normal;
}

.ts th{

	font-family:Arial, sans-serif;
	font-size:14px;font-weight:normal;
	border-style:none;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.ts .ts-yw4l{

	vertical-align:top
}


/*Default none display values for all windows*/

.designs{
	display:none;
}

.web{
	display:none;
}

.dworks{
	display:none;
}
.worksrules{
	height:340px;
}
.worksrulesvideo{
	height:170px;
}

.video{
	display:none;
}

.biorules {
	font-family:sans-serif;
	font-size:11px;
	color:black;
	font-weight:bold;
	text-align:justify;
	padding:15px;
	height:100%;

}

.resume
{
	display:none;

}

.irbispanel{
	display:none;
}

.resumerules{
	font-family:sans-serif;
	font-size:12px;
	color:black;
	font-weight:bold;
	text-align:justify;
	padding:35px;
	padding-right:35px;
}

.contact{
	display:none;
	font-family:sans-serif;
	font-size:13px;
	color:black;
	font-weight:bold;
	text-align:justify;
	
	width:98%;
	padding-left:10px;

}

.contact a:link { color: #000000; text-decoration: none; }
.contact a:visited { color: #000000;  text-decoration: none;}
.contact a:hover { color: #ffffff;  text-decoration: none;}
.contact a:active { color: #000000;  text-decoration: none;}



.contactrules{
	width:300px;
	padding:5px;

}


.contactext{
	line-height: 2;
    margin-left: 15px;


}

.portfolio{
	display:none;
}

.thumbimg{
	width:200px;
	height:170px;
	display:block;
	position:absolute;
	opacity:0;
	transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
}

.thumbimg:hover{
	opacity:1;
}

.captiontext{
	background:black;
	margin-top:35%;
	text-transform: uppercase;
	text-align: right;
	font-family: sans-serif;
	font-size: 12px;
	color: #e7e7e7;
	font-weight: bold;
	right:0px;
	width: 150px;
	display: block;
	padding-right:10px;
	position: absolute; 
	word-break: keep-all;

}

.dframe{
	
	display:none;
	height:auto !important;
	width:auto !important;

}

.previewing{
	padding-bottom:10px;
	padding-top:0px;
	margin-bottom:0px;
	width:600px;
	border-width: 0px;
	border-style:none;
	transition: all .2s ease-in-out;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s; 
	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}


.previewing:hover{ 
	transform: scale(1.02);
}


.comment{
	
	font-family: sans-serif;
	font-size: 11px;
	color: black;
	font-weight: bold;
	width: 160px;
	text-align: left;
	padding-right: 20px;
	margin-left: 20px;
}

.iconic{
	
	width: 150px;
	text-align: justify;
	padding-right: 20px;
	margin-left: 20px;
}

.smallicon{
	padding-left:2px;
	padding-right:2px;
}

.protectiveshield{
	width:100%;
	height:100%;
	position:absolute;
	z-index:20;
	display:none;
}

.backtotopplank{
	background:url(img/backtotop.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:161px;
	height:17px;
	right:0px;
	bottom:50px;
	
	cursor: pointer;

	transition-timing-function:ease-in-out;;

}

.backtotopplank:hover{
	background:url(img/backtotop_w.svg) no-repeat;
}


.logopanelclass{
	background:url(img/logopanel.svg) no-repeat;
	background-size:100% 100%;
	position:relative;
	width:339px;
	height:169px;
	top:0px;
	left:0px;
	pointer-events:none;
	margin-bottom:-180px;

}


.logoclass{
	background:url(img/logo.svg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:79px;
	height:104px;
	bottom:10px;
	right:133px;
	pointer-events:none;
-webkit-animation: blinkers 1.2s steps(10) alternate infinite;

}

@keyframes blinkers {
	0% { opacity: 0.4; }
	1% { opacity: 0.9; }
	10%   { opacity: 0.9; }
	20%   { opacity: 0.9; }
	30%   { opacity: 0.9; }
	40%   { opacity: 0.9; }
	41%   { opacity: 0.4; }
	42%   { opacity: 0.9; }
	70%   { opacity: 0.9; }
	71%   { opacity: 0.4; }
	72%   { opacity: 0.9; }
	100%   { opacity: 0.9; }

}

@-moz-keyframes blinkers {
	0% { opacity: 0.6; }
	50%   { opacity: 0.8; }
	100%   { opacity: 0.6; }
}

@-webkit-keyframes blinkers {
	0% { opacity: 0.6; }
	50%   { opacity: 0.8; }
	100%   { opacity: 0.6; }
}

@-ms-keyframes blinkers {
	0% {{ opacity: 0.6; }
	50%   { opacity: 0.8; }
	100%   { opacity: 0.6; }
}

@-o-keyframes blinkers {
	0% { opacity: 0.6; }
	50%   { opacity: 0.8; }
	100%   { opacity: 0.6; }
}